* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    background-color: #212121;    
    color: #ffffff;
    height: 60px;
    width: 100%;
    padding: 20px;
}

.title {
    display: flex;
    justify-content: flex-start;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 50%;
}

.cartIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.fa-shopping-cart {
    font-size: 25px;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: w;
    flex-direction: column;
    background-color: white;
    min-height: 10em;
}

.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 100%;
}

.addToCartButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 20px;
    width: 90px;
}

img {
    height: 50vh;
    width: 100%;
    object-fit: contain; 
    margin-top: 10px;   
}

.description {
    text-align: center;
    font-weight: bold;   
    font-size: 13px;
    font-family: Arial, sans-serif;
    padding-bottom: 5px;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 12px;
}

.button { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #5596F5;
    color: #ffffff;
    border-radius: 6px;
    border: none;
    width: 210px;
    height: 35px;     
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
}

.button:hover {
    background-color: rgb(111, 165, 247);
    cursor: pointer;
}

.fa-cart-arrow-down {
    font-size: 13px;
}

.price {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#numberOfProducts {
    display: flex;
    flex-direction: flex-end;
    color: white;
    margin-right: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.fa-user-friends{
    padding-right: 10px;
    font-size: 20px;
}

#loginDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    height: 200px;
    width: 300px;
    border: 2px solid black;
    border-radius: 7px;
    background-color: #f5f5f5;
}

.userDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 220px;
    height: 40px;
}

.inputStyle{
    height: 20px;
    margin-left: 7px;
}

#loginButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5596F5;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    width: 80px;
    height: 25px;
    margin-top: 20px;
}

#loginButton:hover{
    background-color: rgb(111, 165, 247);
    cursor: pointer;
}

.input{
    font-family: Arial, Helvetica, sans-serif;
}