* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    padding-top: 70px;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    background-color: #212121;    
    color: #ffffff;
    height: 60px;
    width: 100%;
    padding: 20px;
}

.title {
    display: flex;
    justify-content: flex-start;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 50%;
}

.cartIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.fa-shopping-cart {
    font-size: 25px;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

#numberOfProducts {
    display: flex;
    flex-direction: flex-end;
    color: white;
    margin-right: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.fa-user-friends{
    padding-right: 10px;
    font-size: 20px;
}

.fa-user-friends:hover{
    cursor: pointer;
}


.mysideHeader{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.logOut {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5596F5;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    width: 80px;
    height: 25px;
}

.logOut:hover{
    background-color: rgb(111, 165, 247);
    cursor: pointer;
}

.logOutDiv{
    display: flex;
    justify-content: center;
}

.orderDay{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.orderProduct{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
