* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: black;
    height: 60px;
    width: 100%;
}