* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    padding-top: 60px;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    background-color: #212121;
    height: 60px;
    width: 100%;
    padding: 20px;
}

.title {
    display: flex;
    justify-content: flex-start;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 50%;
}

.cartIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
}

.fa-shopping-cart {
    font-size: 25px;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    min-height: 10em;
}

.productContainer {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
    font-size: 20px;
}

.addToCartButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 20px;
    width: 90%;
}

img {
    height: 50vh;
    width: auto;
    object-fit: contain;    
}

p {
    text-align: center;
    font-weight: bold;   
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;  
    font-family: Arial, Helvetica, sans-serif;
}